.group_preresult_modify_container{
    width: 100%;
    border: 1px solid var(--color_sub_bright);
    border-radius: 9px;
    padding: var(--padding4);
    background-color: black;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 850px){
    .group_preresult_modify_container {
        width: 100%;
    }
}

.group_preresult_modify_container > h2{
    line-height: var(--font_large);
    margin-bottom: var(--padding2);
}

.group_preresult_modify_container > .preresult_modify_choice_team{
    line-height: var(--font_medium);
    display: flex;
    flex-direction: column;
    gap: var(--padding1);
    margin: var(--padding2) 0;
}

.preresult_modify_container{
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--padding4);
}

@media screen and (min-width: 850px){
    .preresult_modify_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.group_preresult_modify_container > form > button{
    margin: var(--padding4) var(--padding4) 0 var(--padding4);
}

.group_preresult_modify_container > form > select{
    width: 100%;
    height: 3.2rem;
    background-color: black;
    color: white;
    border: 1px solid var(--color_sub_bright)
}

.group_preresult_modify_badge{
    display: inline-block;
    background-color: var(--color_blue_highlight);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.preresult_modify_member_title{
    display: flex;
    gap: var(--padding2);
    align-items: center;
}