{% extends 'base.html' %}
{% load static %}
{% block content %}
{% now "Y-m-d H:i:s" as current_time %}
    {% if user.is_authenticated %}
    <div class="wrap_main_img_auth">
        <img class="main_img" src="{% static 'images/MakeMate.png' %}"/>
    </div>
    <section class="wrap_common_index">
        <div class="common_wrap_info">
            <div class='common_inner_title'>
                <div>효율적인 팀빌딩의 시작,</div>
                <div class='common_name'>MakeMate</div>
            </div>
            <div class='common_title_txt'>다양한 팀빌딩을 자동화를 통해 동아리 운영진과 회원들의 효율적이고 다양한 팀활동을 지원합니다.</div>
            <div class="common_inner_btn">
                <button class='secondary_button' ><a href="{% url 'common:logout' %}">로그아웃</a> </button>
                <button class='primary_button' ><a href="{% url 'group_setting:base_set' %}">모임개설</a></button>
            </div>
        </div>
            <div class='common_section_group_list'>
                <div class='common_groups'>참여중인 모임</div>
                {% comment %} admin_groups {% endcomment %}
                <div class="wrap_wrap_card">
                {% if admin_groups or member_groups %}
                {% for group in admin_groups %}
                    {% if group.third_end_date|date:"Y-m-d H:i:s" < current_time %}
                        {% if group.is_first_end %}
                            {% if group.is_second_end %}
                                {% if group.is_third_end %}
                                    <a href="{%url 'result:result' group.id %}">
                                        <div class="wrap_card">
                                            <div class='card_title'>{{group.title}}</div>
                                            <div class='inner_card_badge'>
                                                <button class='primary_badge'>운영진</button>
                                                <button class='cta_red_badge'>최종 종료</button>
                                            </div>
                                            <div class="common_group_info">
                                                <div>팀 빌딩 완료</div>
                                                {% for member in admin_group_count %}
                                                    {% if member.group_name == group.title %}
                                                        <div>참여자수:{{member.count}}명</div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </a> 
                                {% else %}
                                    <a href="{%url 'preresult:preresult' group.id%}">
                                        <div class="wrap_card">
                                            <div class='card_title'>{{group.title}}</div>
                                            <div class='inner_card_badge'>
                                                <button class='primary_badge'>운영진</button>
                                                <button class='cta_red_badge'>3차 임시종료</button>
                                            </div>
                                            <div class="common_group_info">
                                                <div>3차 투표 완료</div>
                                                {% for member in admin_group_count %}
                                                    {% if member.group_name == group.title %}
                                                        <div>참여자수:{{member.count}}명</div>
                                                    {% endif %}
                                                {% endfor %}
                                                                                </div>
                                            </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{%url 'preresult:preresult' group.id%}">
                                    <div class="wrap_card">
                                        <div class='card_title'>{{group.title}}</div>
                                        <div class='inner_card_badge'>
                                            <button class='primary_badge'>운영진</button>
                                            <button class='cta_red_badge'>2차 임시종료</button>
                                        </div>
                                        <div class="common_group_info">
                                            <div>2차 투표 완료</div>
                                            {% for member in admin_group_count %}
                                                {% if member.group_name == group.title %}
                                                    <div>참여자수:{{member.count}}명</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{%url 'preresult:preresult' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='primary_badge'>운영진</button>
                                        <button class='cta_red_badge'>1차 투표 임시종료</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>1차 투표 완료</div>
                                        {% for member in admin_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% elif group.second_end_date|date:"Y-m-d H:i:s" < current_time %}
                        {% if group.is_first_end %}
                            {% if group.is_second_end %}
                                <a href="{%url 'group_admin:admin_page' group.id %}">
                                    <div class="wrap_card">
                                        <div class='card_title'>{{group.title}}</div>
                                        <div class='inner_card_badge'>
                                            <button class='primary_badge'>운영진</button>
                                            <button class='cta_blue_badge'>3차 투표</button>
                                        </div>
                                        <div class="common_group_info">
                                            <div>3차 투표 종료까지 남은 시간</div>
                                            <div class='group_endtime' data-group-time='{{group.third_end_date.isoformat}}'></div>
                                            {% for member in admin_group_count %}
                                                {% if member.group_name == group.title %}
                                                    <div>참여자수:{{member.count}}명</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a> 
                            {% else %}
                                <a href="{%url 'preresult:preresult' group.id%}">
                                    <div class="wrap_card">
                                        <div class='card_title'>{{group.title}}</div>
                                        <div class='inner_card_badge'>
                                            <button class='primary_badge'>운영진</button>
                                            <button class='cta_red_badge'>2차 임시종료</button>
                                        </div>
                                        <div class="common_group_info">
                                            <div>2차 투표 완료</div>
                                            {% for member in admin_group_count %}
                                                {% if member.group_name == group.title %}
                                                    <div>참여자수:{{member.count}}명</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{%url 'preresult:preresult' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='primary_badge'>운영진</button>
                                        <button class='cta_red_badge'>1차 투표 임시종료</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>1차 투표 완료</div>
                                        {% for member in admin_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% elif group.first_end_date|date:"Y-m-d H:i:s" < current_time %}
                        {% if group.is_first_end %}
                            <a href="{%url 'group_admin:admin_page' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='primary_badge'>운영진</button>
                                        <button class='cta_blue_badge'>2차 투표</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>2차 투표 종료까지 남은 시간</div>
                                        <div class='group_endtime' data-group-time='{{group.second_end_date.isoformat}}'></div>
                                        {% for member in admin_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{% url 'preresult:preresult' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='primary_badge'>운영진</button>
                                        <button class='cta_red_badge'>1차 투표 임시종료</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>1차 투표 완료</div>
                                        {% for member in admin_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {%else%}
                        <a href="{%url 'group_admin:admin_page' group.id%}">
                            <div class="wrap_card">
                                <div class='card_title'>{{group.title}}</div>
                                <div class='inner_card_badge'>
                                    <button class='primary_badge'>운영진</button>
                                    <button class='cta_blue_badge'>1차 투표</button>
                                </div>
                                <div class="common_group_info">
                                    <div>1차 투표 종료까지 남은 시간</div>
                                    <div class='group_endtime' data-group-time='{{group.first_end_date.isoformat}}'></div>
                                    {% for member in admin_group_count %}
                                        {% if member.group_name == group.title %}
                                            <div>참여자수:{{member.count}}명</div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                {% comment %} member_groups {% endcomment %}
                {% for group in member_groups %}
                    {% if group.third_end_date|date:"Y-m-d H:i:s" < current_time %}
                        {% if group.is_first_end %}
                            {% if group.is_second_end %}
                                {% if group.is_third_end %}
                                    <a href="{%url 'result:result' group.id %}">
                                        <div class="wrap_card">
                                            <div class='card_title'>{{group.title}}</div>
                                            <div class='inner_card_badge'>
                                                <button class='cta_red_badge'>최종 종료</button>
                                            </div>
                                            <div class="common_group_info">
                                                <div>팀 빌딩 완료</div>
                                                {% for member in member_group_count %}
                                                    {% if member.group_name == group.title %}
                                                        <div>참여자수:{{member.count}}명</div>
                                                    {% endif %}
                                                {% endfor %}
                                                                                </div>
                                            </div>
                                    </a> 
                                {% else %}
                                    <a href="{%url 'preresult:member_preresult' group.id%}">
                                        <div class="wrap_card">
                                            <div class='card_title'>{{group.title}}</div>
                                            <div class='inner_card_badge'>
                                                <button class='cta_red_badge'>3차 임시종료</button>
                                            </div>
                                            <div class="common_group_info">
                                                <div>3차 투표 완료</div>
                                                {% for member in member_group_count %}
                                                    {% if member.group_name == group.title %}
                                                        <div>참여자수:{{member.count}}명</div>
                                                    {% endif %}
                                                {% endfor %}
                                                                                </div>
                                            </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="{%url 'preresult:member_preresult' group.id%}">
                                    <div class="wrap_card">
                                        <div class='card_title'>{{group.title}}</div>
                                        <div class='inner_card_badge'>
                                            <button class='cta_red_badge'>2차 임시종료</button>
                                        </div>
                                        <div class="common_group_info">
                                            <div>2차 투표 완료</div>
                                            {% for member in member_group_count %}
                                                {% if member.group_name == group.title %}
                                                    <div>참여자수:{{member.count}}명</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{%url 'preresult:member_preresult' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='cta_red_badge'>1차 투표 임시종료</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>1차 투표 완료</div>
                                        {% for member in member_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a> 
                        {% endif %}
                    {% elif group.second_end_date|date:"Y-m-d H:i:s" < current_time %}
                        {% if group.is_first_end %}
                            {% if group.is_second_end %}
                                <a href="{%url 'group:group_detail' group.id %}">
                                    <div class="wrap_card">
                                        <div class='card_title'>{{group.title}}</div>
                                        <div class='inner_card_badge'>
                                            <button class='cta_blue_badge'>3차 투표</button>
                                        </div>
                                        <div class="common_group_info">
                                            <div>3차 투표 종료까지 남은 시간</div>
                                            <div class='group_endtime' data-group-time='{{group.third_end_date.isoformat}}'></div>
                                            {% for member in member_group_count %}
                                                {% if member.group_name == group.title %}
                                                    <div>참여자수:{{member.count}}명</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a> 
                            {% else %}
                                <a href="{%url 'preresult:member_preresult' group.id%}">
                                    <div class="wrap_card">
                                        <div class='card_title'>{{group.title}}</div>
                                        <div class='inner_card_badge'>
                                            <button class='cta_red_badge'>2차 임시종료</button>
                                        </div>
                                        <div class="common_group_info">
                                            <div>2차 투표 완료</div>
                                            {% for member in member_group_count %}
                                                {% if member.group_name == group.title %}
                                                    <div>참여자수:{{member.count}}명</div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% else %}
                            <a href="{%url 'preresult:member_preresult' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='cta_red_badge'>1차 투표 임시종료</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>1차 투표 완료</div>
                                        {% for member in member_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% elif group.first_end_date|date:"Y-m-d H:i:s" < current_time %}
                        {% if group.is_first_end %}
                            <a href="{%url 'group:group_detail' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='cta_blue_badge'>2차 투표</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>2차 투표 종료까지 남은 시간</div>
                                        <div class='group_endtime' data-group-time='{{group.second_end_date.isoformat}}'></div>
                                        {% for member in member_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% else %}
                            <a href="{%url 'preresult:member_preresult' group.id%}">
                                <div class="wrap_card">
                                    <div class='card_title'>{{group.title}}</div>
                                    <div class='inner_card_badge'>
                                        <button class='cta_red_badge'>1차 투표 임시종료</button>
                                    </div>
                                    <div class="common_group_info">
                                        <div>1차 투표 완료</div>
                                        {% for member in member_group_count %}
                                            {% if member.group_name == group.title %}
                                                <div>참여자수:{{member.count}}명</div>
                                            {%endif%}
                                        {% endfor %}
                                    </div>
                                </div>
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="{%url 'group:group_detail' group.id%}">
                            <div class="wrap_card">
                                <div class='card_title'>{{group.title}}</div>
                                <div class='inner_card_badge'>
                                    <button class='cta_blue_badge'>1차 투표</button>
                                </div>
                                <div class="common_group_info">
                                    <div>1차 투표 종료까지 남은 시간</div>
                                    <div class='group_endtime' data-group-time='{{group.first_end_date.isoformat}}'></div>
                                    {% for member in member_group_count %}
                                        {% if member.group_name == group.title %}
                                            <div>참여자수:{{member.count}}명</div>
                                        {%endif%}
                                    {% endfor %}
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
                {% else %}
                    <div>참여중인 모임이 없습니다.</div>
                {% endif %}
            </div>
        </section>
    {% else %}
        <div class="wrap_main_img">
            <img class="main_img" src="{% static 'images/MakeMate.png' %}"/>
        </div>
        <section class="wrap_common_index">
            {% comment %} <div class='common_main_img'><img src="{% static "images/MakeMate.png" %}" alt="MakeMate_image"></div> {% endcomment %}
            <div class='common_wrap_info'>
                <div class='common_info_title'>효율적인 팀빌딩의 시작,</div>
                <div>다양한 팀빌딩을 자동화를 통해 동아리 운영진과 회원들의 효율적이고 다양한 팀 활동을 지원합니다 .</div>
                <div class="common_inner_btn">
                    <button class='secondary_button'><a href="{% url 'common:login' %}" >로그인</a></button>
                    <button class='primary_button'><a href="{% url 'common:signup' %}" >회원가입</a></button>
                </div>
            </div>
        </section>
    {% endif %}
    <script src={% static "js/main_page_time.js" %}  ></script>
{% endblock %}