{% extends 'base.html' %}

{% block content %}
<section> 
    <div class="wrap_title">
        <a href="{% url 'common:main_page' %}" class='home_btn'>back</a>
        <div class="inner_title">
            <span class='setting_group_share_title'>모임 개설</span>
            <span class='setting_step4'>STEP 4. 모임 공유</span>
        </div>
    </div>
    <div class='setting_wrap_main_content'>
        <div class='card_contents_green'>모임 개설이 완료되었습니다!</div>
        <div class='setting_inner_url_txt'>
            <div>공유 링크</div>
            <div class='card_contents_green'>링크를 사용하여 구성원과 모임을 공유할 수 있습니다.</div>
        </div>
        <div class="group_member_url">
            <div>참여자 링크</div>
            <span>https://www.piromakemate.shop{% url 'group_setting:check_nonadmin' group.id %}</span>
            <div>비밀번호 : {{group.password}}</div>
        </div>
        <div class="group_admin_url">
            <div>운영자 링크 </div>
            <span>https://www.piromakemate.shop{% url 'group_setting:check_admin' group.id %}</span>
            <div>비밀번호 : {{group.password}}</div>
        </div>
    </div>
    <div class="common_inner_btn">
        <button class="primary_button"><a href="{% url 'common:main_page' %}">홈으로</a></button>
    </div>
</section>
{% endblock %}