{% extends 'base.html' %}
{% load static %}
{% block content %}
{% now "Y-m-d H:i:s" as current_time %}

  <section>
    <div class="admin_wrap_head">
      <a href="{%url 'common:main_page'%}" class="home_btn">Home</a>
      <div class="admin_inner_page_info">
        <div class='admin_group_title'>{{group_instance.title}}</div>
        <!-- <div class='admin_endtime' data-admin-time='{{group_instance.end_date.isoformat}}'></div> -->
        <!-- 미완료 -->
        {% if group_instance.first_end_date|date:"Y-m-d H:i:s" > current_time %}
        <div>1차 투표 마감까지 남은 시간</div>
        <div class='admin_endtime' data-admin-time='{{group_instance.first_end_date.isoformat}}'></div>
        {% elif group_instance.second_end_date|date:"Y-m-d H:i:s" > current_time %}
        <div>2차 투표 마감까지 남은 시간</div>
        <div class='admin_endtime' data-admin-time='{{group_instance.second_end_date.isoformat}}'></div>
        {% else %}
        <div>3차 투표 마감까지 남은 시간</div>
        <div class='admin_endtime' data-admin-time='{{group_instance.third_end_date.isoformat}}'></div>                                 
        {% endif %}
        <!-- 미완료여기까지 -->

      </div>
      <div class="admin_desc_content">회원 정보를 수정할수 있는 운영진 페이지 입니다.</div>
    </div>
    <div class="admin_wrap_url">
      <div class='admin_inner_url_info'>
        <div class="subtitle_content">공유링크</div>
        <div>링크를 사용하여 구성원과 모임을 공유할 수 있습니다.</div>
      </div>

      <div class="admin_inner_url_info">
        <span>참여자 링크</span>
        <div class="group_member_url">
          <span>https://www.piromakemate.shop{% url 'group_setting:check_nonadmin' group_instance.id %}</span>
        </div>
        <span class="group_admin_password">비밀번호 : {{group_instance.password}}</span>
      </div>
      <div class="admin_inner_url_info">
        <span>운영진 링크</span>
        <div class="group_member_url">
          <span>https://www.piromakemate.shop{% url 'group_setting:check_admin' group_instance.id %}</span>
        </div>
        <span class="group_admin_password">비밀번호 : {{group_instance.password}}</span>
      </div>
    </div>
    <div class='admin_wrap_members'>
      <div class='admin_title_members'>회원</div>
      {% for admin_user in admin_states_users %}
        {% if  admin_user.id != user.id  %}
        <div class="admin_user_wrap">
          <div class='card_title'>{{admin_user.username}}</div>
          <div class='inner_card_badge'>
            <button class='primary_badge' data-user-id="{{ admin_user.id }}">운영진</button>
              <form action="{% url 'group_admin:user_delete' group_id=group_instance.id user_id=admin_user.id %}" method="POST">
                {% csrf_token %}
                <button class='cta_red_badge' type="submit">삭제하기</button>
              </form>
          </div>
        </div>
        {% endif %}
      {% endfor %}
      {% for member_user in member_states_users %}
        <div class="admin_user_wrap">
          <div class='card_title'>
            <a href="{%url 'group_admin:user_update' group_id=group_instance.id user_id=member_user.id %}">{{member_user.username}}</a>
          </div>
          <div class='inner_card_badge'>
            <button class='cta_blue_badge' data-user-id="{{ member_user.id }}">비운영진</button>
            <form action=" {%url 'group_admin:user_delete' group_id=group_instance.id user_id=member_user.id %}" method="POST">
              {% csrf_token %}
              <button class='cta_red_badge' type="submit">삭제하기</button>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static "js/admin_change.js" %}"></script>
  <script src={% static "js/admin_page_time.js" %}  ></script>

{% endblock content %}
