{% extends 'base.html' %} {% block content %}
<section>
  <div class="wrap_title">
    <a href="{% url 'group:group_detail' group_id=group.id %}" class="home_btn">Home</a>
    <div class="inner_title">
      <h3 class="title_content">아이디어 수정하기</h3>
      <p class="subtitle_content">{{ group.title }}</p>
    </div>
  </div>

  <form
  action="{% url 'idea:idea_modify' group_id=group.id idea_id=idea.id %}"
  method="post"
  enctype="multipart/form-data"
  class="wrap_idea_modify_form"
  novalidate>
  <div id="vote_modify_form_container">
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
    <div class="wrap_error">{{ error }}</div>
      {% endfor %}
    {% endif %}
    <div id="vote_modify_form_container">제목 <input type="text" name="title" value="{{idea.title}}" maxlength="31" required="" id="id_title" /></div>

    <div id="vote_modify_form_container">
      한 줄 소개 <input type="text" name="intro" value="{{idea.intro}}" maxlength="50" required="" id="id_intro" />
      <div class="wrap_error">50자 미만으로 작성해주세요.</div>
    </div>

    <div id="vote_modify_form_container">
      <div class="wrap_download">
        <span class="download_content">첨부파일</span>
        {% if idea.file %}
        <span>
          <span class="idea_file">{{ idea.file }}</span> 
        </span>
        {% else %}
        <span>첨부파일이 없습니다.</span>
        {% endif %}
        <br />
        변경
        <input type="file" name="file" id="id_file" />
      </div>
    </div>
    

    <div id="vote_modify_form_container">
      내용 <textarea name="content" cols="40" rows="10" maxlength="1000" required="" id="id_content">{{idea.content}}</textarea>
    </div>
  </div>

  <div class="vote_create_btns">
    <button type="submit" class="primary_button_fill">저장하기</button>
  </div>
</form>

</section>



{% endblock %}
