{% extends 'base.html' %}
{% block content %}
<section>
    <div class="wrap_title">
        <a href="{% url 'common:main_page' %}" class='home_btn'>Home</a>
        <div class="inner_title">
            <h3 class="title_content">{{group.title}}</h3>
            <span class="subtitle_content">초기 정보 입력</span>
            <span class="form_highlight_content">입력한 정보는 수정 불가능하니 신중하게 작성해주시기 바랍니다.</span>
        </div>
    </div>
    <!-- 넌필드 오류 -->
    {% for error in form.non_field_errors %}
    <div class="form_highlight_content">
        {{ error }}
    </div>
    {% endfor %}
    <form method='post' action={% url 'group_setting:info_nonadmin' group_id=group.id %} class="wrap_form" novalidate>
        {% csrf_token %}
        <div class="inner_form">
            <label>실력 <i class="form_highlight_content">*</i></label>
            <span class="form_highlight_content">실력은 1(낮은 실력)부터 5(높은 실력)까지 입력 가능합니다.</span>
            {% if group.ability_description1 %}
                <span class="form_highlight_content">실력 1: {{group.ability_description1}}</span>
            {% endif %}
            {% if group.ability_description2 %}
                <span class="form_highlight_content">실력 2: {{group.ability_description2}}</span>
            {% endif %}
            {% if group.ability_description3 %}
                <span class="form_highlight_content">실력 3: {{group.ability_description3}}</span>
            {% endif %}
            {% if group.ability_description4 %}
                <span class="form_highlight_content">실력 4: {{group.ability_description4}}</span>
            {% endif %}
            {% if group.ability_description5 %}
                <span class="form_highlight_content">실력 5: {{group.ability_description5}}</span>
            {% endif %}
            <div>{{form.group_ability}}</div>
            <!-- 필드 오류 -->
            {% if form.group_ability.errors %}
            <div class="form_highlight_content">
                {{ form.group_ability.errors }}
            </div>
            {% endif %}
        <div>
        <div class="inner_form_button">
            <button type='submit' class='primary_button_fill'>그룹 가입</button>
        </div>
    </form>
</section>
{% endblock %}