body{
    background-color: black;
    width: 100%;
}

.group_detail_header_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--padding2);
}

.group_detail_container{
    display: flex;
    flex-direction: column;
    width: calc(39.3rem - 9.2rem);
    margin: var(--padding6) var(--padding4);
    padding: 0 var(--padding4);
    color: white;
}

.group_detail_description{
    display: flex;
    flex-direction: column;
    gap: var(--padding4);
}

.group_detail_desc > a > span:nth-of-type(1){
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: var(--font_medium);
    font-weight: bold;
}

.group_detail_desc > a > span:nth-of-type(2){
    color: var(--color_main);
    display: flex;
    align-items: center;
    line-height: var(--font_medium);
    font-size: var(--font_medium);
}

.group_detail_desc > a > span:nth-of-type(3){
    color: white;
    line-height: var(--font_large);
    font-size: var(--font_medium);
}

.group_detail_title{
    color: var(--color_main);
    line-height: var(--font_xlarge);
    font-size: var(--font_xlarge);
    font-weight: bold;
}

.group_detail_btns{
    margin: var(--padding6) 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.group_detail_btns > .primary_button{
    border-radius: 1rem;
    width: 19rem;
}

.group_detail_btns > .secondary_button{
    border-radius: 1rem;
    width: 11rem;
}

.group_detail_btns > .primary_button > a{
    cursor: pointer;
    color: black;
}

.group_detail_btns > .secondary_button > a{
    cursor: pointer;
    color: var(--color_main);
}

.group_detail_idea, .group_detail_my_idea{
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: 2;
    gap: var(--padding4);
    margin-bottom: var(--padding6);
}

@media screen and (min-width: 800px) {
    .group_detail_idea{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    } 
}

.group_detail_idea_desc{
    border-radius: 0.9rem;
    background-color: var(--color_bg_gray);
    padding: var(--padding2);
}

.group_detail_idea_desc > h3{
    cursor: pointer;
    line-height: var(--font_medium);
    font-size: var(--font_medium);
    font-weight: bold;
    margin-bottom: var(--padding2);
}

.group_detail_idea_desc > h3 > a{
    color: white;
}

.group_detail_idea_desc > p{
    line-height: var(--font_medium);
    font-size: var(--font_medium);
    font-weight: 100;
    margin-bottom: var(--padding2);
}

.group_detail_idea_desc > .idea_desc_content{
    margin-bottom: var(--padding1);
}

.group_detail_idea_desc > span{
    line-height: var(--font_medium);
    color: var(--color_main);
}

.group_detail_vote_badge{
    display: inline-block;
    background-color: var(--color_blue_highlight);
    border-radius: 0.5rem;
    padding: 0.5rem;
}