body{
    background-color: black;
    width: 100%;
}

.vote_create_btns{
    margin: var(--padding6) 0;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.vote_create_btns > .primary_button{
    border-radius: 1rem;
    width: 19rem;
}

.wrap_title{
    padding-bottom: var(--padding1);
}
.wrap_error{
    text-align: right;
    margin-top: 1px;
}

#vote_create_form_container {
    display: flex;
    flex-direction: column;
    gap: var(--padding4);
    justify-content: center;
  }
  
  #vote_create_btns {
    display: flex;
    justify-content: center;
    padding-top: var(--padding6)
  }

  .wrap_idea_modify_form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #file-clear_id{
    display: none;
  }

  #id_file{
    border: none;
  }

.idea_checkbox {
  position: absolute;
  top: 20px;
  right: 20px;
}