{% extends 'base.html' %}

{% block content %}
<section>
        <div class="wrap_title">
            <a href="{% url 'common:main_page' %}" class='home_btn'>back</a>
            <div class="inner_title">
                <p class="preresult_title">{{group.title}}</p>
                <span>결과가 임시발표되었습니다. 내용을 수정한 뒤 전체 구성원에게 공지할 수 있습니다.</span>
            </div>
            <div class="preresult_btns">
                <form method='post' action="{%url 'preresult:preresult' group.id%}">
                    {% csrf_token %}
                    <button class='secondary_button'>발표하기</button>
                </form>
                <button class="primary_button"><a href="{% url 'preresult:preresult_modify' group.pk %}">팀 정보 수정하기</a></button>
            </div>
        </div>
        <div class="preresult_admin_body_container">
            <h1>임시 팀빌딩 결과</h1>
            <div class="wrap_wrap_card">
            {% for idea in idea_list %}
                <div class="wrap_card">
                    <h2 class="choice_idea_title">{{idea.title}}</h2>
                    <p class="choice_intro_title">{{idea.intro}}</p>

                        <div class="inner_card_badge">
                            <span>팀장</span>
                            <span class="primary_badge">{{idea.author.username}}</span>
                        </div>
                        <div class="inner_title">
                            <p>전체 팀원</p>
                            <div class="preresult_admin_member_list">
                                {% for member in idea.member.all %}
                                    <div class="cta_blue_badge">{{member.username}}</div>
                                {% endfor %}
                            </div>
                        </div>

                </div>
            {% endfor %}
            </div>
        </div>
</section>
{% endblock %}