{% extends "base.html" %}
{% load static %}
{% block content %}
  <section>
      <div class='home_btn'><a href="{%url 'common:main_page'%}">Home</a></div>
      <div class='wrap_title'>
        <div class='inner_title'>
          <span class='title_content'>{{group.title}}</div>
          <span class="subtitle_content">2차 투표 임시 결과</div>
        </div>
        <span>투표 결과가 발표되었습니다. 최종 아이디어 선정을 수정한뒤 전체 구성원에게 공지 할수있습니다</span>
      </div>
      <div class='preresult_vote1_select'>최종 아이디어 선정</div>
      <div class="wrap_wrap_card">
        {% for idea in idea_list  %}
          <div class='wrap_card'>
            <div class='prereuslt_vote1_idea_title'><a href={% url "idea:idea_detail" group.id idea.id%}>{{idea.title}}</a></div>
            <div>
              <span>{{idea.intro}}</span>
              <div class='card_contents_green'>{{idea.author}}</div>
            </div>
            <div class='prerrsult_vote1_select_btn'>
              <div>score: {{idea.votes}}</div>
              {% if idea.second_selected %}
                <button class='cta_blue_badge' data-idea-id="{{idea.id}}">선택</button>
              {% else %}
              <button class='cta_red_badge' data-idea-id="{{idea.id}}">선택</button>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
      <form method='post' action="{%url 'preresult:preresult' group.id%}" class="inner_form_button">
        {% csrf_token %}
        <button class='primary_button_fill'>발표하기</button>
      </form>
  </section>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static "js/second_vote_select.js" %}"></script>
{% endblock content %}