@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: white;
  font-size: var(--font_medium);
  line-height: 1.5;
  box-sizing: border-box;
  font-family: "Nanum Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button, a {
  font-family: "Nanum Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    gap: var(--padding6) ;
    margin: 8rem auto;
    padding: 0;
}

@media screen and (min-width: 850px){
    section {
        width: 800px;
        align-items: center;
    }
}


.primary_button, .secondary_button, .cta_button,.cta_del_button{
    display: inline-block;
    width: 200px;
    padding: 5px  0;
    text-align: center;
    border-radius: var(--btn_border_radius);
    font-weight: bold;
    font-size: var(--font_medium);
}

.primary_button {
  background-color: var(--color_main);
  color: black;
}

.secondary_button {
  border: 1px solid var(--color_main);
  color: var(--color_main);
}

.primary_button_fill {
  display: block;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: var(--btn_border_radius);
  font-weight: bold;
  font-size: var(--font_medium);
  background-color: var(--color_main);
  color: black;
}

@media screen and (min-width: 850px){
    .primary_button_fill {
        width: 190px;
        justify-content: center;
    }
}

.cta_button{
    background-color: var(--color_red_highlight);
    background-color: var(--color_main);
    color: black;
}

.cta_del_button {
  border: 1px solid var(--color_red_highlight);
  background-color: var(--color_black_highlight);
  color: var(--color_red_highlight);
  width: 100px;
}

.primary_badge,
.cta_blue_badge,
.cta_red_badge,
.secondary_badge {
  padding: 5px;
  border-radius: var(--badge_border_radius);
  font-size: var(--font_small);
}

.primary_badge {
  background-color: var(--color_main);
  color: black;
}

.cta_blue_badge {
  background-color: var(--color_blue_highlight);
  color: white;
}

.cta_red_badge {
  background-color: var(--color_red_highlight);
  color: white;
}

.secondary_badge {
  background-color: var(--color_sub_bright);
  color: black;
}

.cta_green_badge {
  background-color: var(--color_main);
}

.wrap_card {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  padding: var(--padding3);
  gap: var(--padding2);
  border-radius: var(--card_border_radius);
  background-color: var(--color_black_highlight);
  cursor: pointer;
}

.card_title {
  font-weight: bold;
}

.inner_card_badge {
  display: flex;
  gap: var(--padding2);
}

.inner_card_contents {
  display: flex;
  width: 26rem;
  flex-direction: column;
  font-size: var(--font_small);
  word-wrap: break-word;
}

@media screen and (min-width: 850px){
  .inner_card_contents {
      width: 34rem;
  }
}

.card_contents_green {
  color: var(--color_main);
}

.home_btn,
.back_btn {
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width: 850px){
    .home_btn,.back_btn {
        display: none;
    }
}

.home_btn::before,.back_btn::before{
    content: '';
    background-image: url('../images/화살표.png');
    background-size: cover;
    width: 18px;
    height: 18px;
    display: block;
    filter: invert(100%);
}

.inner_form_button {
    display: flex;
    padding-top: var(--padding4);
}

@media screen and (min-width: 850px){
    .inner_form_button {
        justify-content: center;
    }
}

.wrap_title {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: var(--padding5);
}

@media screen and (min-width: 850px){
    .wrap_title {
        text-align: center;
    }
}

.wrap_form, #form_container {
    display: flex;
    flex-direction: column;
    gap: var(--padding4);
}

@media screen and (min-width: 850px){
    .wrap_form, #form_container {
        width: 800px;
    }
}

.inner_form, #form_container > div, #form_container > p {
    display: flex;
    flex-direction: column;
    gap: var(--padding1);
}

.form_highlight_content, .wrap_error, .wrap_non_field_errors{
    color: var(--color_main);
    font-size: var(--font_small);
}

input {
  display: block;
  width: 100%;
  height: var(--padding5);
  border: 1px solid var(--color_main);
  background-color: transparent;
  color: white;
  padding: 0 var(--padding1);
}

.title_content {
  font-size: var(--font_xlarge);
  color: var(--color_main);
}

.subtitle_content {
  font-size: var(--font_large);
  font-weight: bold;
}

.title_content_left {
  font-size: var(--font_xlarge);
  color: var(--color_main);
  text-align: left;
}

.subtitle_content_left {
  font-size: var(--font_large);
  font-weight: bold;
  text-align: left;
}
.inner_title {
  display: flex;
  flex-direction: column;
  gap: var(--padding1);
}

select {
  /* 생략 */
  color: var(--color_main);
  background-color: transparent;

  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  margin: 0;

  border: 1px solid var(--color_main);
}

select:focus {
  border-color: white;
}

select:disabled {
  opacity: 0.5;
}

option {
  color: white;
  background-color: black;
}

input:autofill {
  background-color: transparent;
  color: var(--color_main);
}

input:-webkit-autofill {
  background-color: transparent;
  color: var(--color_main);
}

input[type="date"],
input[type="time"],
input[type="file"],
textarea,
input[type=file]::file-selector-button
 {
  font-family: "Nanum Gothic", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type=file]::file-selector-button  {
  padding: 5px;
  border: none;
  border-radius: var(--badge_border_radius);
  font-size: var(--font_small);
  background-color: var(--color_blue_highlight);
  color: white;
  margin-right: var(--padding1);
}

textarea {
  border: 1px solid var(--color_main);
  padding: var(--padding2);
  background-color: transparent;
  color: white;
}

input[type="checkbox"] {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent;
  vertical-align: top;
}

input[type="checkbox"]:checked {
  background-color: var(--color_main);
}

.preresult_modify_save{
  display:flex;
  flex-direction: column;
  align-items: center;
} 
