:root{
    --color_main: #0bec12;
    --color_sub_dark: #292929;
    --color_sub_bright: #35ab7b;
    --color_red_highlight: #c54422;
    --color_blue_highlight: #007aff;
    --color_black_highlight:#333333;
    --color_bg_gray: #333333;

    --padding1: 0.8rem;
    --padding2: 1.8rem;
    --padding3: 2rem;
    --padding4: 2.4rem;
    --padding5: 3.2rem;
    --padding6: 4.8rem;
    --padding7: 8rem;

    --font_small: 1.4rem;
    --font_medium: 1.8rem;
    --font_large: 2.4rem;
    --font_xlarge: 3.2rem;
    --font_xxlarge: 8rem;

    --btn_border_radius: 1rem;
    --badge_border_radius: 0.5rem;
    --card_border_radius: 1rem;
}